{{#each beats}}


{{> partial}}

<!-- <h2 class="message">Open File</h2> -->
    <!-- <h1> <small> {{name}}</small></h1> -->
    <!-- <div> -->
      <!-- {{#if desc}}
        {{desc}}
      {{else}}
        No author.
      {{/if}} -->
    <!-- </div> -->

  {{/each}}
