$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
$background: #929292;
$drum-color: #464344;
@font-face{
  font-family:'digital-clock-font';
  src: url('../digital-7.regular.ttf');
 }
 
body {
  text-align: center;
  background-color: $background;
  height: 100%;
  width: 100%;
}
h2 {
  color: #ff0000;
  font-size: 25px;
  font-family:'digital-clock-font';
}

.command-top {
  height: 55px;
  margin: 0;
  padding: 0;
  border: 1px solid #262727;
}
.command-bottom {
  height: 55px;
  padding: 0;
  margin: 0;
  border: 1px solid #262727;
}
.command-wrapper{
  width: 450px;
  height: 120px;
  border: 5px solid #10101A;
  margin: 45px auto 0 auto;
  border-radius: 5px;
  background: #262727;
}
h3 {
  font-size: 19px;
}
.btn-custom {
  background-color: transparent;
  border: 0;
  margin: 20px;
  width: 70px;
}

.glyphicon {
  font-size: 65px;
}

.title {
  float: right;
  position: relative;
  // border: 1px solid black;
  display: inline-block;
  height: 50px;
  margin-right: 75px;
  width: 100px;
}

.drum-machine {
  height: 420px;
  width: 1040px;
  background: $drum-color;
  display: inline-block;
  box-shadow: 0 10px 70px #444444, inset 0 10px rgba(255, 255, 255, 0.1),
  inset 0 -10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-top: 75px;
  padding: 70px 60px 160px;
  position: relative;
  top: 50%;
}

.drum-machine .case:first-child {
    position: absolute;
    top: 0;
    bottom: 0;
    left: auto;
    right: 0;
}

.drum-machine .case:nth-child(2) {
    position: absolute;
    top: 0;
    bottom: 0;
    left: auto;
    right: 0;
}

.drum-machine .case {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: auto;
    background: #262727;
    width: 40px;
    box-shadow: inset 0 -10px 0 rgba(0, 0, 0, 0.2), inset 0 10px 0 rgba(255, 255, 255, 0.2);
}

.drum-select {
  float: left;
  width: 80px;
}

.indicator {
    content: " ";
    display: inline-block;
    background: #620000;
    // background: #f01f07;

    border-radius: 50%;
    width: 14px;
    height: 14px;
    margin: 0 0 10px;
    border: 2px rgba(0, 0, 0, 0.15) solid;
}

.clicked {
  background: #ff0000;
  content: " ";
  display: inline-block;
  // background: #f01f07;

  border-radius: 50%;
  width: 14px;
  height: 14px;
  margin: 0 0 10px;
  border: 2px rgba(0, 0, 0, 0.15) solid;
}

p, button {
    // font-family: 'Roboto Mono', mono;
    text-transform: uppercase;
    color: #D5D3C9;
}

.trigger-grid {
  background-color: #BABDA2;
  height: 70px;
  clear: left;
}

.pad {
  float: left;
  height: 54px;
  width: 49.5px;
  border: 1px solid #000;
  margin: 8px 4px;
}

.pad.one {
  margin-left: 8px;
}
// .dial {
//     display: block;
//     width: 40px;
//     height: 40px;
//     background: #323131;
//     margin: 10px auto;
//     border-radius: 50%;
//     box-shadow: 0 0 5px rgba(0, 0, 0, 0.26);
//     position: relative;
//     border: 3px solid #2D2D2D;
// }
// element.style {
//     width: 75px;
//     display: inline;
// }
// .drum-triggers {
//
// }
// .show-user-patterns {
//   position: fixed;
// }

.drum-buttons {
  margin-right: 10px;
  margin-top: -65px;
  // border:1px solid black;
  width: 350px;
  float: right;
}
// .beat-console {
// }





.delete-wrapper {
text-align: center;
border: 1px solid black;
width: 75px;
height: 150px;
// padding: 20px;
position: relative;
background-color: rgba(0,0,0,0.8);
text-decoration-color: black;
visibility: hidden;
}

.delete-wrapper:hover {
  visibility: visible;
}

.delete {
  position: relative;
  float: right;
  margin: 5px;
}

.delete-beat {
  margin: 11px 0;
  padding: 0;
  visibility: visible;
}

.save-wrapper {
text-align: center;
border: 1px solid black;
width: 75px;
height: 150px;
// padding: 20px;
position: relative;
background-color: rgba(0,0,0,0.8);
text-decoration-color: black;
visibility: hidden;
}

.save-wrapper:hover {
  visibility: visible;
}

.save {
  position: relative;
  float: right;
  margin: 5px;
}

.save-beat {
  margin: 11px 0;
  padding: 0;
  visibility: visible;
}

.index-wrapper {
text-align: center;
border: 1px solid black;
width: 75px;
height: 150px;
// padding: 20px;
position: relative;
background-color: rgba(0,0,0,0.8);
text-decoration-color: black;
visibility: hidden;
}

.index-wrapper:hover {
  visibility: visible;
}

.index {
  position: relative;
  float: right;
  margin: 5px;
}

.index-beats {
  margin: 0px 0;
  padding: 0;
  visibility: visible;
}

.show-wrapper {
text-align: center;
border: 1px solid black;
width: 75px;
height: 150px;
// padding: 20px;
position: relative;
background-color: rgba(0,0,0,0.8);
text-decoration-color: black;
visibility: hidden;
}

.show-wrapper:hover {
  visibility: visible;
}

.show {
  position: relative;
  float: right;
  margin: 5px;
}

.show-beat {
  margin: 21px 0;
  padding: 0;
  visibility: visible;
}



.create-wrapper {
text-align: center;
border: 1px solid black;
width: 75px;
height: 150px;
// padding: 20px;
position: relative;
background-color: rgba(0,0,0,0.8);
text-decoration-color: black;
visibility: hidden;
}

.create-wrapper:hover {
  visibility: visible;
}

.create {
  position: relative;
  float: right;
  margin: 5px;
}

.create-beat {
  margin: 21px 0;
  padding: 0;
  visibility: visible;
}

// .toggle-wrapper {
//   position: relative;
//   margin-right: 85px;
//   float: right;
//   bottom: 205px;
// }

.view-all-beats {
  display: table;
  border-radius: 5px;
  // border: 1px solid black;
  position: relative;
  margin-right: 85px;
  width: 150px;
  float: right;
  bottom: 205px;
  background-color: #070D1A;
  text-decoration-color: yellow;
}

ul li {
  text-align: left;
  padding: 0;
  color: black;
  list-style-type: none;
  color: #B5B3AA;

}
th {
  color: #B5B3AA;
  font-size: 15px;
}
